@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f5f5f5;
    color: #000;
    overflow-x: hidden !important;
}

.dark body {
    background: #050505;
    color: #fff;
    overflow-x: hidden !important;
}

* {
    font-family: 'Lexend Deca', sans-serif;
    cursor: none !important;
}

.weight-900 {
    font-weight: 900;
}

.weight-800 {
    font-weight: 800;
}

.weight-700 {
    font-weight: 700;
}

.weight-600 {
    font-weight: 600;
}

.weight-500 {
    font-weight: 500;
}

.weight-400 {
    font-weight: 400;
}

.weight-300 {
    font-weight: 300;
}

.weight-200 {
    font-weight: 200;
}

.weight-100 {
    font-weight: 100;
}


.color-layout {
    --color: #;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    filter: blur(44px);
    opacity: 25%;
    z-index: -1;
    position: fixed;
}

.layout-blue {
    background: radial-gradient(at 150% 0%, #3325fa 0, transparent 50%);
}

.layout-purple {
    top: 25%;
    background: radial-gradient(at 0% 150%, #7025fa 0, transparent 50%);
}
@keyframes glow {
    0% { box-shadow: 0 0 15px rgba(76, 0, 255, 0.5); } /* Kırmızı */
    25% { box-shadow: 0 0 15px rgba(0, 60, 255, 0.5); } /* Yeşil */
    50% { box-shadow: 0 0 15px rgba(0, 0, 255, 0.5); } /* Mavi */
    75% { box-shadow: 0 0 15px rgba(0, 255, 255, 0.5); } /* Sarı */
    100% { box-shadow: 0 0 15px rgba(17, 0, 255, 0.5); } /* Kırmızı */
  }
  
  .glow-effect {
    animation: glow 5s linear infinite; /* 5 saniyede bir döngü, linear zamanlama fonksiyonu */
    transition: box-shadow 0.3s ease; /* Geçiş efektini yumuşatır */
  }
  